.form-section {
  border-radius: 1rem;
  overflow: hidden;
  width: 75vw;
  max-width: 75rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1);
  height: fit-content;
  padding: 2.5rem;
  justify-content: center;
  border: 1px solid #ccc;
}
.form-section h2 {
  display: flex;
  align-items: center;
  gap: .75rem;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}
.form-section .add-form {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}
.add-form input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #ccc;
  outline: none;
}
.add-form input[type="text"] {
  flex: 8;
  transition: border-color 0.3s, box-shadow 0.3s;
  &:focus {
    border-color: #171717;
  }
}
.add-form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  padding: .5rem;
  transition: opacity 0.3s;
  font-size: 1.6rem;
  &:hover {
    opacity: .75;
  }
}
.tags {
  width: 100%;
  padding-left: 0.1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: fit-content;
  gap: 1rem;
  margin-bottom: 4rem;
}
.submit-idea-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  background-color: #171717;
  border: none;
  font-size: 1.5rem;
  height: 45px;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s;
  &:hover {
    opacity: .75;
    background-color: #333;
  }
  &:disabled {
    cursor: default;
  }
}
.loader {
  width: 2.25rem;
  height: 2.25rem;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  background-color: #333;
  color: #fff;
}
@media screen and (max-width: 552px) {
  .form-section {
    margin-top: 2rem;
    align-items: center;
  }
  .tags {
    grid-template-columns: repeat(2, 1fr);
  }
  .add-form > button {
    flex: 2;
  }
}
