header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 2rem;
    padding: 4rem 0rem;
}
.header-title-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.header-title-logo h1 {
    color: #171717;
    font-size: 3rem;
}
.header-title-logo icon {
   font-size: 5rem;
   color: #fff;
}
.header-description {
    color: #797979;
    font-size: 1.5rem;
}
.powered {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.25rem;

}
.gemini {
    color: #4285F4;
    font-size: 1.25rem;
}
@media screen and (max-width: 552px) {
    .header-description {
        font-size: 1.25rem;
    }
}