.tags span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    cursor: default;
    height: fit-content;
    font-size: 1.25rem;
    background-color: #F2F2F2;
    padding: .75rem 1.25rem;
    border: 0.1rem solid #ccc;
    flex: 1;
    border-radius: 0.5rem;
    color: #171717;
    transition: border .3s;
    &:hover {
        border: 0.1rem solid #333;
    }
}
.tags span button {
    all: unset;
    width: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer; 
}
.tags span button i {
    all: unset;
    transition: color .3s;
    color: #666;
    font-size: 1.25rem;
    &:hover {
        color: #000;
    }
}
