body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
#root {
  min-height: 100dvh;
  flex: 1;
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  align-items: center;
}
